@page "/commit-cookie"
@using Ray.JdTool.CkConfig
@using Ray.JdTool.JdCkHistories
@inherits JdToolComponentBase

<Text TextColor="TextColor.Secondary">
    请输入你的JDCookie：
</Text>
<Blazorise.Link To="https://www.bilibili.com/read/cv12903201" Target="Target.Blank">
    （如何获取我的Cookie？）
</Blazorise.Link>

<MemoEdit Rows="5" @bind-Text="@cookieStr" Placeholder="如：pt_pin=xxxx;pt_key=xxxxxxxxxx; 完整Cookie字符串或只有pt_pin和pt_key的都可以" />

<Button Color="Color.Primary" Clicked="@OnButtonClickedAsync">提交</Button>

<Alert Color="Color.Success" @bind-Visible="@isAlertVisible">

    <Heading Size="HeadingSize.Is4" TextColor="@(commitResult.Success ?TextColor.Success:TextColor.Warning)">
        @(commitResult.Success ? "提交成功！" : "提交失败！")
    </Heading>
    @{
        if (commitResult.CommitResultType == CommitResultType.Add)
        {
            <Paragraph>
                检测到您之前未上过车，已为您新增一个车位，如下：
            </Paragraph>
        }

        if (commitResult.CommitResultType == CommitResultType.Update)
        {
            <Paragraph>
                检测到您是老乘客，已为您更新CK，如下：
            </Paragraph>
        }
    }
    <TextEdit ReadOnly="true" @bind-Text="@commitResult.ResultStr"></TextEdit>
</Alert>

@code {

    [Inject]
    ICkConfigAppService CkConfigAppService { get; set; }

    string cookieStr = "";
    CommitResult commitResult = new CommitResult();
    bool isAlertVisible = false;

    private async Task OnButtonClickedAsync()
    {
        commitResult = await CkConfigAppService.CreateUpdateCookie(new CreateUpdateJdCkHistoryDto() { FullStr = cookieStr });
        if (!commitResult.Success)
        {
            await Notify.Warn("提交失败，请检查");
        }
        else
        {
            await Notify.Success("提交成功");
            isAlertVisible = true;
        }
    }
}
