@page "/commit-cookie"
@using Ray.JdTool.CkConfig
@using Ray.JdTool.JdCkHistories
@inherits JdToolComponentBase


<Steps SelectedStep="@selectedStep" SelectedStepChanged="@OnSelectedStepChanged">
    <Items>
        <Step Name="step1">Step 1</Step>
        <Step Name="step2">Step 2</Step>
        <Step Name="step3">Step 3</Step>
        <Step Name="step4">
            <Marker>
                <Icon Name="IconName.Flag" />
            </Marker>
            <Caption>
                Finish
            </Caption>
        </Step>
    </Items>
    <Content>
        <StepPanel Name="step1">
            <Heading Size="HeadingSize.Is4">登录系统：</Heading>
            <Text>
                点击右上角登录按钮，登录账号。如果还未注册账号，请在登录页面点击注册进行注册（推荐可以直接使用GitHub授权登录）
            </Text>
        </StepPanel>
        <StepPanel Name="step2">
            <Heading Size="HeadingSize.Is4">获取东京Cookie：</Heading>
            <Text>
                点击下方“如何获取我的Cookie”，根据教程获取自己的东京Cookie字符串
            </Text>
        </StepPanel>
        <StepPanel Name="step3">
            <Heading Size="HeadingSize.Is4">提交：</Heading>
            <Text>
                将字符串填入下方输入框中（完成全量的字符串或经过精简后的都可以），点击提交，提示提交成功即完成
            </Text>
        </StepPanel>
        <StepPanel Name="step4">
            <Heading Size="HeadingSize.Is4">完成</Heading>
        </StepPanel>
    </Content>
</Steps>


<Text TextColor="TextColor.Secondary">
    请输入你的JDCookie：
</Text>
<Blazorise.Link To="https://www.bilibili.com/read/cv12903201" Target="Target.Blank">
    （如何获取我的Cookie？）
</Blazorise.Link>

<MemoEdit Rows="5" @bind-Text="@cookieStr" Placeholder="如：pt_pin=xxxx;pt_key=xxxxxxxxxx;" />

<Button Color="Color.Primary" Clicked="@OnButtonClickedAsync">提交</Button>

<Alert Color="Color.Success" @bind-Visible="@isAlertVisible">

    <Heading Size="HeadingSize.Is4" TextColor="@(commitResult.Success ?TextColor.Success:TextColor.Warning)">
        @(commitResult.Success ? "提交成功！" : "提交失败！")
    </Heading>
    @{
        if (commitResult.CommitResultType == CommitResultType.Add)
        {
            <Paragraph>
                检测到您之前未上过车，已为您新增一个车位，如下：
            </Paragraph>
        }

        if (commitResult.CommitResultType == CommitResultType.Update)
        {
            <Paragraph>
                检测到您是老乘客，已为您更新CK，如下：
            </Paragraph>
        }
    }
    <TextEdit ReadOnly="true" @bind-Text="@commitResult.ResultStr"></TextEdit>
</Alert>

@code {

    [Inject]
    ICkConfigAppService CkConfigAppService { get; set; }

    string cookieStr = "";
    CommitResult commitResult = new CommitResult();
    bool isAlertVisible = false;

    string selectedStep = "step1";

    private Task OnSelectedStepChanged(string name)
    {
        selectedStep = name;

        return Task.CompletedTask;
    }

    private async Task OnButtonClickedAsync()
    {
        commitResult = await CkConfigAppService.CreateUpdateCookie(new CreateUpdateJdCkHistoryDto() { FullStr = cookieStr });
        if (!commitResult.Success)
        {
            await Notify.Warn("提交失败，请检查");
        }
        else
        {
            await Notify.Success("提交成功");
            isAlertVisible = true;
        }
    }
}
